@import './base.css';
@import 'prismjs/themes/prism.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.title{
  font-size: 32px;
  font-weight: bold;
  text-align: center;

  color: #e89415;
}

.subtitle {
  display: flex;
  margin: 1rem 0;
  font-size: 20px;
  font-weight: bold;

  color: #1597e8;
}

.question {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.types  {
  font-size: 16px;
  font-weight: bold;

  color: #e89415;
}

.code-block {
  display: flex;
  width: 100%;
  height: fit-content;
  max-width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 14px;
  overflow-x: scroll;

  background: #212027;
  border: 1px solid #e89415;
  border-radius: 5px;
}

.example {
  display: block;
  padding: 0.5rem 0;
  text-align: center;
}

.example-title {
  display: block;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  color: #e89415;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
